{% extends "base.html" %}
{% block title %}Shattered Cathedral{% endblock %}
{% block head_css %}
  <link rel="stylesheet" href="/app-static/css/base.css">
  <link rel="stylesheet" href="/app-static/css/playground.css">
  <link rel="stylesheet" href="/app-static/css/live.css">
  <link rel="stylesheet" href="/app-static/css/modal.css">
{% endblock %}
{% block body %}
  {% include "partials/sidebar.html" %}

  <div class="main-content" id="main-content">
    {% include "pages/home.html" %}
    {% include "pages/playground.html" %}
    {% include "pages/live.html" %}
  </div>

  <script>
    const presetsData = {{ presets_json | safe }};
    const presetKeys = Object.keys(presetsData);
    let selectedSeed = presetKeys[0] || '';
  </script>
  <script src="/app-static/js/app.js"></script>
  <script src="/app-static/js/piano-roll.js"></script>
  <script src="/app-static/js/cards.js"></script>
  <script src="/app-static/js/layout.js"></script>
  <script src="/app-static/js/live-session.js"></script>
  <script src="/app-static/js/playground.js"></script>
{% endblock %}
